body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:941px;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:941px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:501px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1366 {
  position:absolute;
  left:288px;
  top:83px;
  width:1632px;
  height:501px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:242px;
  width:1628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u1368 {
  position:absolute;
  left:299px;
  top:11px;
  width:300px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u1369 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
