body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4042px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:938px;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:938px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:461px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  position:absolute;
  left:786px;
  top:85px;
  width:100px;
  height:53px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1391 {
  position:absolute;
  left:1856px;
  top:109px;
  width:12px;
  height:20px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#62D9BD;
}
#u1393 {
  position:absolute;
  left:1761px;
  top:107px;
  width:81px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#62D9BD;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1395_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1395 {
  position:absolute;
  left:1787px;
  top:57px;
  width:30px;
  height:40px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:938px;
}
#u1398 {
  position:absolute;
  left:2122px;
  top:0px;
  width:1920px;
  height:938px;
}
#u1399 {
  position:absolute;
  left:2px;
  top:461px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1400 {
  position:absolute;
  left:2908px;
  top:85px;
  width:100px;
  height:53px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1402 {
  position:absolute;
  left:3978px;
  top:109px;
  width:12px;
  height:20px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#62D9BD;
}
#u1404 {
  position:absolute;
  left:3883px;
  top:107px;
  width:81px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#62D9BD;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1406_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1406 {
  position:absolute;
  left:3909px;
  top:57px;
  width:30px;
  height:40px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1338px;
  height:790px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1408 {
  position:absolute;
  left:2670px;
  top:148px;
  width:1338px;
  height:790px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:387px;
  width:1334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1410 {
  position:absolute;
  left:2695px;
  top:577px;
  width:954px;
  height:384px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:184px;
  width:950px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1412 {
  position:absolute;
  left:3079px;
  top:616px;
  width:30px;
  height:40px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1414 {
  position:absolute;
  left:3176px;
  top:639px;
  width:150px;
  height:81px;
}
#u1415 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1416 {
  position:absolute;
  left:3681px;
  top:577px;
  width:309px;
  height:360px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:172px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:176px;
}
#u1418 {
  position:absolute;
  left:3746px;
  top:751px;
  width:200px;
  height:176px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:80px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
}
#u1420 {
  position:absolute;
  left:3772px;
  top:597px;
  width:133px;
  height:133px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:21px;
  width:129px;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:3681px;
  top:164px;
  width:309px;
  height:384px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:184px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1424 {
  position:absolute;
  left:3702px;
  top:597px;
  width:30px;
  height:40px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1426_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1426 {
  position:absolute;
  left:3702px;
  top:164px;
  width:30px;
  height:40px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1428 {
  position:absolute;
  left:3710px;
  top:252px;
  width:150px;
  height:81px;
}
#u1429 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1430 {
  position:absolute;
  left:2692px;
  top:160px;
  width:954px;
  height:384px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:184px;
  width:950px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1433 {
  position:absolute;
  left:3086px;
  top:452px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1434-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434-26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1434 {
  position:absolute;
  left:3270px;
  top:578px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:362px;
}
#u1435 {
  position:absolute;
  left:2695px;
  top:186px;
  width:954px;
  height:362px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:118px;
  width:950px;
  word-wrap:break-word;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u1437 {
  position:absolute;
  left:3504px;
  top:162px;
  width:140px;
  height:40px;
  color:#1890FF;
}
#u1438 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440-8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440 {
  position:absolute;
  left:3003px;
  top:893px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1441-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441-24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441 {
  position:absolute;
  left:3195px;
  top:607px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:391px;
}
#u1442 {
  position:absolute;
  left:2695px;
  top:607px;
  width:954px;
  height:391px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:132px;
  width:950px;
  word-wrap:break-word;
}
#u1444_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1444 {
  position:absolute;
  left:3098px;
  top:146px;
  width:30px;
  height:40px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1890FF;
}
#u1446 {
  position:absolute;
  left:3506px;
  top:577px;
  width:140px;
  height:40px;
  color:#1890FF;
}
#u1447 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
