body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1918px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:938px;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:938px;
}
#u1469 {
  position:absolute;
  left:2px;
  top:461px;
  width:1914px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1470 {
  position:absolute;
  left:122px;
  top:754px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1471 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1472_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1472 {
  position:absolute;
  left:154px;
  top:706px;
  width:30px;
  height:40px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1474 {
  position:absolute;
  left:290px;
  top:737px;
  width:300px;
  height:46px;
}
#u1474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1474_input:disabled {
  color:grayText;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1475 {
  position:absolute;
  left:643px;
  top:737px;
  width:150px;
  height:174px;
}
#u1476 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
