body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:905px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:905px;
}
#u65 {
  position:absolute;
  left:2px;
  top:444px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u66 {
  position:absolute;
  left:438px;
  top:257px;
  width:48px;
  height:45px;
}
#u67 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u68 {
  position:absolute;
  left:453px;
  top:227px;
  width:30px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u70 {
  position:absolute;
  left:493px;
  top:211px;
  width:150px;
  height:43px;
}
#u71 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u72 {
  position:absolute;
  left:309px;
  top:661px;
  width:30px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u74 {
  position:absolute;
  left:368px;
  top:668px;
  width:150px;
  height:95px;
}
#u75 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
