body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1868px;
  height:900px;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:1868px;
  height:900px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:442px;
  width:1864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  position:absolute;
  left:1737px;
  top:83px;
  width:111px;
  height:39px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1147 {
  position:absolute;
  left:86px;
  top:238px;
  width:12px;
  height:12px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1149 {
  position:absolute;
  left:80px;
  top:232px;
  width:24px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u1150 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1152 {
  position:absolute;
  left:86px;
  top:295px;
  width:12px;
  height:12px;
}
#u1153 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1154 {
  position:absolute;
  left:80px;
  top:289px;
  width:24px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u1155 {
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156 {
  position:absolute;
  left:1610px;
  top:216px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1157 {
  position:absolute;
  left:1610px;
  top:270px;
  width:213px;
  height:51px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:18px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1159 {
  position:absolute;
  left:1737px;
  top:43px;
  width:30px;
  height:40px;
}
#u1160 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1161_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1161 {
  position:absolute;
  left:1669px;
  top:176px;
  width:30px;
  height:40px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:677px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1166 {
  position:absolute;
  left:560px;
  top:266px;
  width:982px;
  height:677px;
  opacity:0.349999994039536;
}
#u1167 {
  position:absolute;
  left:2px;
  top:330px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:417px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1172 {
  position:absolute;
  left:640px;
  top:359px;
  width:853px;
  height:417px;
  font-family:'MicrosoftYaHeiLight', 'Microsoft YaHei Light', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:391px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1174 {
  position:absolute;
  left:1363px;
  top:718px;
  width:104px;
  height:37px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1175 {
  position:absolute;
  left:12px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u1176 {
  position:absolute;
  left:1249px;
  top:718px;
  width:104px;
  height:37px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u1177 {
  position:absolute;
  left:12px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1178 {
  position:absolute;
  left:640px;
  top:322px;
  width:853px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1179 {
  position:absolute;
  left:16px;
  top:9px;
  width:835px;
  word-wrap:break-word;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1180 {
  position:absolute;
  left:1456px;
  top:330px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u1181 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1182 {
  position:absolute;
  left:690px;
  top:421px;
  width:102px;
  height:18px;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1184 {
  position:absolute;
  left:690px;
  top:483px;
  width:73px;
  height:18px;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1186 {
  position:absolute;
  left:690px;
  top:536px;
  width:73px;
  height:18px;
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1188 {
  position:absolute;
  left:690px;
  top:678px;
  width:124px;
  height:18px;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u1190 {
  position:absolute;
  left:795px;
  top:417px;
  width:65px;
  height:22px;
}
#u1190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1190_input:disabled {
  color:grayText;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:689px;
  top:625px;
  width:73px;
  height:18px;
}
#u1192 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1193 {
  position:absolute;
  left:763px;
  top:483px;
  width:188px;
  height:22px;
}
#u1193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1193_input:disabled {
  color:grayText;
}
#u1194 {
  position:absolute;
  left:763px;
  top:533px;
  width:188px;
  height:53px;
}
#u1194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u1196 {
  position:absolute;
  left:762px;
  top:611px;
  width:180px;
  height:42px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u1197 {
  position:absolute;
  left:12px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1198 {
  position:absolute;
  left:910px;
  top:620px;
  width:24px;
  height:24px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u1201 {
  position:absolute;
  left:950px;
  top:611px;
  width:180px;
  height:42px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
  text-align:left;
}
#u1202 {
  position:absolute;
  left:12px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1203 {
  position:absolute;
  left:1099px;
  top:620px;
  width:24px;
  height:24px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205 {
  position:absolute;
  left:886px;
  top:417px;
  width:65px;
  height:22px;
}
#u1205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1205_input:disabled {
  color:grayText;
}
#u1206 {
  position:absolute;
  left:982px;
  top:417px;
  width:83px;
  height:22px;
}
#u1206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1206_input:disabled {
  color:grayText;
}
#u1207_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1207 {
  position:absolute;
  left:1680px;
  top:259px;
  width:30px;
  height:40px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
