body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:463px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:639px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:639px;
}
#u77 {
  position:absolute;
  left:2px;
  top:312px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u78 {
  position:absolute;
  left:131px;
  top:39px;
  width:30px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u80 {
  position:absolute;
  left:182px;
  top:23px;
  width:150px;
  height:56px;
}
#u81 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
