body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2061px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:331px;
}
#u28 {
  position:absolute;
  left:1926px;
  top:350px;
  width:135px;
  height:331px;
}
#u29 {
  position:absolute;
  left:2px;
  top:158px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:939px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:939px;
}
#u31 {
  position:absolute;
  left:2px;
  top:462px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:1526px;
  top:272px;
  width:79px;
  height:618px;
}
#u33 {
  position:absolute;
  left:2px;
  top:301px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#C1C5CD;
}
#u34 {
  position:absolute;
  left:1526px;
  top:207px;
  width:79px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#C1C5CD;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u36 {
  position:absolute;
  left:1575px;
  top:175px;
  width:30px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u38 {
  position:absolute;
  left:1615px;
  top:110px;
  width:150px;
  height:74px;
}
#u39 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u40 {
  position:absolute;
  left:187px;
  top:175px;
  width:30px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u42 {
  position:absolute;
  left:244px;
  top:125px;
  width:150px;
  height:87px;
}
#u43 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u44 {
  position:absolute;
  left:1265px;
  top:175px;
  width:30px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u46 {
  position:absolute;
  left:1305px;
  top:110px;
  width:150px;
  height:102px;
}
#u47 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:203px;
}
#u48 {
  position:absolute;
  left:1931px;
  top:175px;
  width:91px;
  height:203px;
}
#u49 {
  position:absolute;
  left:2px;
  top:94px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:1952px;
  top:169px;
  width:59px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:2px;
}
#u52 {
  position:absolute;
  left:1316px;
  top:196px;
  width:626px;
  height:1px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-8px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
