body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:936px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:936px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:460px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1834px;
  height:501px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1043 {
  position:absolute;
  left:86px;
  top:81px;
  width:1834px;
  height:501px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:242px;
  width:1830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1675px;
  height:290px;
}
#u1045 {
  position:absolute;
  left:123px;
  top:158px;
  width:1675px;
  height:290px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:137px;
  width:1671px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1047 {
  position:absolute;
  left:1698px;
  top:101px;
  width:100px;
  height:31px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:677px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  position:absolute;
  left:560px;
  top:259px;
  width:982px;
  height:677px;
  opacity:0.349999994039536;
}
#u1052 {
  position:absolute;
  left:2px;
  top:330px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:417px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft YaHei Light', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1057 {
  position:absolute;
  left:640px;
  top:352px;
  width:853px;
  height:417px;
  font-family:'Microsoft YaHei Light', 'Microsoft YaHei';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:391px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1059 {
  position:absolute;
  left:1363px;
  top:711px;
  width:104px;
  height:37px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1060 {
  position:absolute;
  left:12px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1061 {
  position:absolute;
  left:640px;
  top:315px;
  width:853px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1062 {
  position:absolute;
  left:16px;
  top:9px;
  width:835px;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1063 {
  position:absolute;
  left:1456px;
  top:323px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u1064 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065 {
  position:absolute;
  left:752px;
  top:407px;
  width:100px;
  height:16px;
}
#u1066 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1065_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1067 {
  position:absolute;
  left:690px;
  top:378px;
  width:145px;
  height:18px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:690px;
  top:448px;
  width:329px;
  height:18px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  position:absolute;
  left:690px;
  top:500px;
  width:131px;
  height:18px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  position:absolute;
  left:690px;
  top:549px;
  width:203px;
  height:18px;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075 {
  position:absolute;
  left:690px;
  top:627px;
  width:59px;
  height:18px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1077 {
  position:absolute;
  left:763px;
  top:627px;
  width:188px;
  height:22px;
}
#u1077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1077_input:disabled {
  color:grayText;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  position:absolute;
  left:690px;
  top:589px;
  width:102px;
  height:18px;
}
#u1079 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:103px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1080 {
  position:absolute;
  left:1127px;
  top:564px;
  width:150px;
  height:103px;
}
#u1081 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1082 {
  position:absolute;
  left:1698px;
  top:51px;
  width:30px;
  height:40px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u1084 {
  position:absolute;
  left:1249px;
  top:713px;
  width:104px;
  height:37px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0099FF;
}
#u1085 {
  position:absolute;
  left:12px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C4CCD7;
}
#u1086 {
  position:absolute;
  left:1779px;
  top:207px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C4CCD7;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:1787px;
  top:268px;
  width:73px;
  height:18px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:1795px;
  top:329px;
  width:59px;
  height:18px;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1092_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1092 {
  position:absolute;
  left:1830px;
  top:157px;
  width:30px;
  height:40px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
