body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1908px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1908px;
  height:937px;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:1908px;
  height:937px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:460px;
  width:1904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:166px;
}
#u1684 {
  position:absolute;
  left:72px;
  top:665px;
  width:535px;
  height:166px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:75px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:34px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1686 {
  position:absolute;
  left:147px;
  top:719px;
  width:79px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1687 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1688 {
  position:absolute;
  left:87px;
  top:679px;
  width:119px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1689 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1690 {
  position:absolute;
  left:95px;
  top:414px;
  width:119px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1691 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  position:absolute;
  left:190px;
  top:807px;
  width:198px;
  height:38px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1694 {
  position:absolute;
  left:190px;
  top:535px;
  width:198px;
  height:38px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
