body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1899px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:937px;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:937px;
}
#u1449 {
  position:absolute;
  left:2px;
  top:460px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1808px;
  height:862px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  position:absolute;
  left:80px;
  top:75px;
  width:1808px;
  height:862px;
}
#u1451 {
  position:absolute;
  left:2px;
  top:423px;
  width:1804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u1452 {
  position:absolute;
  left:298px;
  top:10px;
  width:300px;
  height:46px;
  font-size:18px;
  text-align:left;
}
#u1453 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1454 {
  position:absolute;
  left:114px;
  top:109px;
  width:140px;
  height:40px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1456 {
  position:absolute;
  left:310px;
  top:109px;
  width:112px;
  height:40px;
}
#u1456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1456_input:disabled {
  color:grayText;
}
#u1457 {
  position:absolute;
  left:439px;
  top:109px;
  width:193px;
  height:40px;
}
#u1457_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1458 {
  position:absolute;
  left:689px;
  top:109px;
  width:140px;
  height:40px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1747px;
  height:677px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1460 {
  position:absolute;
  left:114px;
  top:173px;
  width:1747px;
  height:677px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:330px;
  width:1743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  position:absolute;
  left:166px;
  top:210px;
  width:945px;
  height:18px;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  white-space:nowrap;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1464 {
  position:absolute;
  left:1075px;
  top:238px;
  width:93px;
  height:40px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1466 {
  position:absolute;
  left:1405px;
  top:109px;
  width:305px;
  height:273px;
}
#u1467 {
  position:absolute;
  left:10px;
  top:10px;
  width:285px;
  word-wrap:break-word;
}
