body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:935px;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:935px;
}
#u1504 {
  position:absolute;
  left:2px;
  top:460px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1505 {
  position:absolute;
  left:544px;
  top:335px;
  width:430px;
  height:48px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:16px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1507 {
  position:absolute;
  left:86px;
  top:333px;
  width:430px;
  height:48px;
}
#u1508 {
  position:absolute;
  left:2px;
  top:16px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1509 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
}
#u1510 {
  position:absolute;
  left:106px;
  top:339px;
  width:395px;
  height:28px;
}
#u1511 {
  position:absolute;
  left:2px;
  top:6px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC33;
}
#u1512 {
  position:absolute;
  left:138px;
  top:346px;
  width:88px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC33;
}
#u1513 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
}
#u1514 {
  position:absolute;
  left:266px;
  top:346px;
  width:88px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
}
#u1515 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1516 {
  position:absolute;
  left:392px;
  top:346px;
  width:88px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1517 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1518 {
  position:absolute;
  left:233px;
  top:342px;
  width:18px;
  height:18px;
  color:#FF0000;
}
#u1519 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1520 {
  position:absolute;
  left:357px;
  top:344px;
  width:18px;
  height:18px;
  color:#FF0000;
}
#u1521 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
}
#u1523 {
  position:absolute;
  left:561px;
  top:339px;
  width:395px;
  height:28px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:6px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC33;
}
#u1525 {
  position:absolute;
  left:593px;
  top:346px;
  width:88px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#00CC33;
}
#u1526 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
}
#u1527 {
  position:absolute;
  left:721px;
  top:346px;
  width:88px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
}
#u1528 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1529 {
  position:absolute;
  left:847px;
  top:346px;
  width:88px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1531 {
  position:absolute;
  left:688px;
  top:343px;
  width:18px;
  height:18px;
  color:#33CC66;
}
#u1532 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1533 {
  position:absolute;
  left:812px;
  top:344px;
  width:18px;
  height:18px;
  color:#33CC66;
}
#u1534 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
