body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1908px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1908px;
  height:938px;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:1908px;
  height:938px;
}
#u1478 {
  position:absolute;
  left:2px;
  top:461px;
  width:1904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1479 {
  position:absolute;
  left:1858px;
  top:96px;
  width:30px;
  height:40px;
}
#u1480 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1481_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1481 {
  position:absolute;
  left:1838px;
  top:261px;
  width:30px;
  height:40px;
}
#u1482 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1483 {
  position:absolute;
  left:610px;
  top:673px;
  width:768px;
  height:248px;
}
#u1484 {
  position:absolute;
  left:2px;
  top:116px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:241px;
}
#u1485 {
  position:absolute;
  left:755px;
  top:680px;
  width:478px;
  height:241px;
}
#u1486 {
  position:absolute;
  left:2px;
  top:112px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1487 {
  position:absolute;
  left:1388px;
  top:457px;
  width:511px;
  height:203px;
}
#u1488 {
  position:absolute;
  left:2px;
  top:94px;
  width:507px;
  word-wrap:break-word;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:13px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  position:absolute;
  left:1377px;
  top:660px;
  width:531px;
  height:13px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:-2px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1491 {
  position:absolute;
  left:1388px;
  top:670px;
  width:511px;
  height:251px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:118px;
  width:507px;
  word-wrap:break-word;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:516px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1493 {
  position:absolute;
  left:84px;
  top:405px;
  width:511px;
  height:516px;
}
#u1494 {
  position:absolute;
  left:2px;
  top:250px;
  width:507px;
  word-wrap:break-word;
}
#u1495_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1495 {
  position:absolute;
  left:518px;
  top:430px;
  width:30px;
  height:40px;
}
#u1496 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:49px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1497 {
  position:absolute;
  left:156px;
  top:430px;
  width:302px;
  height:49px;
}
#u1498 {
  position:absolute;
  left:10px;
  top:10px;
  width:282px;
  word-wrap:break-word;
}
#u1499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:160px;
}
#u1499 {
  position:absolute;
  left:115px;
  top:977px;
  width:518px;
  height:160px;
}
#u1500 {
  position:absolute;
  left:2px;
  top:72px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1501 {
  position:absolute;
  left:136px;
  top:959px;
  width:188px;
  height:18px;
}
#u1502 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
