body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1899px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:936px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:936px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:460px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#62D9BD;
}
#u1372 {
  position:absolute;
  left:1547px;
  top:228px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#62D9BD;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:256px;
}
#u1374 {
  position:absolute;
  left:1747px;
  top:180px;
  width:148px;
  height:256px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:120px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:1657px;
  top:301px;
  width:80px;
  height:105px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:44px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1378 {
  position:absolute;
  left:1641px;
  top:180px;
  width:80px;
  height:72px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#62D9BD;
}
#u1380 {
  position:absolute;
  left:1651px;
  top:228px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#62D9BD;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1382_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1382 {
  position:absolute;
  left:1555px;
  top:178px;
  width:30px;
  height:40px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1384 {
  position:absolute;
  left:1691px;
  top:180px;
  width:30px;
  height:40px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
