body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:905px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:905px;
}
#u55 {
  position:absolute;
  left:2px;
  top:444px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u56 {
  position:absolute;
  left:558px;
  top:237px;
  width:30px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u58 {
  position:absolute;
  left:763px;
  top:237px;
  width:30px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u60 {
  position:absolute;
  left:1450px;
  top:237px;
  width:30px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u62 {
  position:absolute;
  left:806px;
  top:151px;
  width:391px;
  height:43px;
}
#u63 {
  position:absolute;
  left:10px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
