body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u642 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1834px;
  height:736px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  position:absolute;
  left:86px;
  top:82px;
  width:1834px;
  height:736px;
}
#u644 {
  position:absolute;
  left:2px;
  top:360px;
  width:1830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  position:absolute;
  left:299px;
  top:11px;
  width:300px;
  height:50px;
}
#u646 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648 {
  position:absolute;
  left:144px;
  top:174px;
  width:875px;
  height:237px;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#909399;
  text-align:left;
}
#u650 {
  position:absolute;
  left:2px;
  top:16px;
  width:191px;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:48px;
}
#u651 {
  position:absolute;
  left:195px;
  top:0px;
  width:195px;
  height:48px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#909399;
  text-align:left;
}
#u652 {
  position:absolute;
  left:2px;
  top:16px;
  width:191px;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:48px;
}
#u653 {
  position:absolute;
  left:390px;
  top:0px;
  width:308px;
  height:48px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#909399;
  text-align:left;
}
#u654 {
  position:absolute;
  left:2px;
  top:16px;
  width:304px;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:48px;
}
#u655 {
  position:absolute;
  left:698px;
  top:0px;
  width:196px;
  height:48px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#909399;
  text-align:left;
}
#u656 {
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u657 {
  position:absolute;
  left:0px;
  top:48px;
  width:195px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u658 {
  position:absolute;
  left:2px;
  top:14px;
  width:191px;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u659 {
  position:absolute;
  left:195px;
  top:48px;
  width:195px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u660 {
  position:absolute;
  left:2px;
  top:15px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:46px;
}
#u661 {
  position:absolute;
  left:390px;
  top:48px;
  width:308px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#606266;
  text-align:left;
}
#u662 {
  position:absolute;
  left:2px;
  top:15px;
  width:304px;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:46px;
}
#u663 {
  position:absolute;
  left:698px;
  top:48px;
  width:196px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u664 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u665 {
  position:absolute;
  left:0px;
  top:94px;
  width:195px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u666 {
  position:absolute;
  left:2px;
  top:14px;
  width:191px;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u667 {
  position:absolute;
  left:195px;
  top:94px;
  width:195px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u668 {
  position:absolute;
  left:2px;
  top:15px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:46px;
}
#u669 {
  position:absolute;
  left:390px;
  top:94px;
  width:308px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#606266;
  text-align:left;
}
#u670 {
  position:absolute;
  left:2px;
  top:15px;
  width:304px;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:46px;
}
#u671 {
  position:absolute;
  left:698px;
  top:94px;
  width:196px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u672 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u673 {
  position:absolute;
  left:0px;
  top:140px;
  width:195px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u674 {
  position:absolute;
  left:2px;
  top:14px;
  width:191px;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u675 {
  position:absolute;
  left:195px;
  top:140px;
  width:195px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u676 {
  position:absolute;
  left:2px;
  top:15px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:46px;
}
#u677 {
  position:absolute;
  left:390px;
  top:140px;
  width:308px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#606266;
  text-align:left;
}
#u678 {
  position:absolute;
  left:2px;
  top:15px;
  width:304px;
  word-wrap:break-word;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:46px;
}
#u679 {
  position:absolute;
  left:698px;
  top:140px;
  width:196px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u680 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u681 {
  position:absolute;
  left:0px;
  top:186px;
  width:195px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
#u682 {
  position:absolute;
  left:2px;
  top:14px;
  width:191px;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:46px;
}
#u683 {
  position:absolute;
  left:195px;
  top:186px;
  width:195px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u684 {
  position:absolute;
  left:2px;
  top:15px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:46px;
}
#u685 {
  position:absolute;
  left:390px;
  top:186px;
  width:308px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#606266;
  text-align:left;
}
#u686 {
  position:absolute;
  left:2px;
  top:15px;
  width:304px;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:46px;
}
#u687 {
  position:absolute;
  left:698px;
  top:186px;
  width:196px;
  height:46px;
  color:#606266;
  text-align:left;
}
#u688 {
  position:absolute;
  left:2px;
  top:15px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u689 {
  position:absolute;
  left:144px;
  top:223px;
  width:870px;
  height:1px;
}
#u690 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u691 {
  position:absolute;
  left:144px;
  top:269px;
  width:870px;
  height:1px;
}
#u692 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u693 {
  position:absolute;
  left:144px;
  top:315px;
  width:870px;
  height:1px;
}
#u694 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(103, 194, 58, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(103, 194, 58, 0.2);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695 {
  position:absolute;
  left:821px;
  top:231px;
  width:79px;
  height:32px;
}
#u695_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695.mouseOver {
}
#u696 {
  position:absolute;
  left:10px;
  top:7px;
  width:59px;
  white-space:nowrap;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u697 {
  position:absolute;
  left:144px;
  top:359px;
  width:870px;
  height:1px;
}
#u698 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:2px;
}
#u699 {
  position:absolute;
  left:144px;
  top:405px;
  width:870px;
  height:1px;
}
#u700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  position:absolute;
  left:334px;
  top:231px;
  width:64px;
  height:32px;
}
#u701_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701.mouseOver {
}
#u702 {
  position:absolute;
  left:10px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(230, 162, 60, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 162, 60, 0.2);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  position:absolute;
  left:822px;
  top:276px;
  width:64px;
  height:32px;
}
#u703_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703.mouseOver {
}
#u704 {
  position:absolute;
  left:10px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(144, 147, 153, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(144, 147, 153, 0.2);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705 {
  position:absolute;
  left:824px;
  top:320px;
  width:64px;
  height:32px;
}
#u705_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705.mouseOver {
}
#u706 {
  position:absolute;
  left:10px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(245, 108, 108, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 108, 108, 0.2);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  position:absolute;
  left:824px;
  top:367px;
  width:64px;
  height:32px;
}
#u707_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707.mouseOver {
}
#u708 {
  position:absolute;
  left:10px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u709 {
  position:absolute;
  left:334px;
  top:276px;
  width:64px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u709_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u709.mouseOver {
}
#u710 {
  position:absolute;
  left:10px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u711 {
  position:absolute;
  left:334px;
  top:322px;
  width:64px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u711_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u711.mouseOver {
}
#u712 {
  position:absolute;
  left:10px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u713 {
  position:absolute;
  left:334px;
  top:367px;
  width:64px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u713_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u713.mouseOver {
}
#u714 {
  position:absolute;
  left:10px;
  top:8px;
  width:44px;
  white-space:nowrap;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u715 {
  position:absolute;
  left:27px;
  top:560px;
  width:22px;
  height:14px;
}
#u716 {
  position:absolute;
  left:2px;
  top:-1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
