body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:937px;
}
#u1720 {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:937px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:460px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1723 {
  position:absolute;
  left:1779px;
  top:67px;
  width:110px;
  height:48px;
}
#u1724 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u1725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1725 {
  position:absolute;
  left:1779px;
  top:115px;
  width:110px;
  height:48px;
}
#u1726 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1727 {
  position:absolute;
  left:1779px;
  top:163px;
  width:110px;
  height:48px;
}
#u1728 {
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u1729 {
  position:absolute;
  left:1531px;
  top:66px;
  width:243px;
  height:250px;
  overflow:hidden;
  visibility:hidden;
}
#u1729_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1729_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:249px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:116px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u1733 {
  position:absolute;
  left:47px;
  top:52px;
  width:149px;
  height:149px;
}
#u1734 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1735 {
  position:absolute;
  left:53px;
  top:23px;
  width:138px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1736 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u1737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
  background:inherit;
  background-color:rgba(122, 223, 199, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1737 {
  position:absolute;
  left:74px;
  top:216px;
  width:95px;
  height:27px;
}
#u1738 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u1729_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:250px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1729_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:249px;
}
#u1740 {
  position:absolute;
  left:2px;
  top:116px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1741 {
  position:absolute;
  left:21px;
  top:23px;
  width:186px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1742 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u1743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u1743 {
  position:absolute;
  left:53px;
  top:53px;
  width:138px;
  height:138px;
}
#u1744 {
  position:absolute;
  left:2px;
  top:61px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:27px;
  background:inherit;
  background-color:rgba(122, 223, 199, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1745 {
  position:absolute;
  left:74px;
  top:216px;
  width:95px;
  height:27px;
}
#u1746 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
